* {
  justify-content: center;
  text-align: center;
}
header {
  text-decoration: solid;
  width: 100%;
  position: relative;
}
.header-link {
  text-decoration: none;
  color: white;
}
.winnie-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}
.winnieCard {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.text-box {
  margin: 10px;
  padding: 25px;
}
.activities-link {
  text-decoration: none;
  color: white;
}
.activity-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}